<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <app-chat-message [text]="'Hola mundo'" />
      <app-my-message [text]="'Hola mundo'" />
      <app-typing-loader />
    </div>
  </div>

  <!--<app-text-messaage-box
    placeHolder="Escribe algo aquí"
    (onMessage)="handleMessage($event)"
  />-->

  <!--<app-text-message-box-file
    placeHolder="Escribe algo aquí"
    (onMessage)="handleMessageWithFile($event)"
  />-->

  <app-text-message-box-select
    placeHolder="Escribe algo aquí"
    [options]="[{id: '1', text: '1'},{id: '2', text: '2'}]"
    (onMessage)="handleMessageWithSelect($event)"
  />

</div>
